{% extends 'base.html.twig' %}

{% block body %}
<h1>admin/new.html.twig<h1>
<h1>{{ product is defined ? 'Modifier le produit' : 'Ajouter un produit' }}</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('app_admin') }}">Retour</a>
{% endblock %}